<html>
<body>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="static/index.js"></script>
	<link rel="stylesheet" href="static/index.css">

	<div id="header">
		<h1 id="title"><font color="#878787">Skeleton</font> Texts</h1>
	</div>

	<div id="body_container">
		<div id="building_blocks">
			<h4>Building Blocks</h4>
			<label for="frequency_scale_text_select">Frequency Scale: use text</label>
			<select id="frequency_scale_text_select">
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option>
				<option value="E">E</option>
				<option value="F">F</option>
			</select> with 
			<input id="frequency_scale_frequency" style="width:37px"></input><strong> frequency</strong>
			<button id="add_frequency_scale_button">Add</button><br>
			<label for="frequency_scale_text_select">Portmanteau: use text</label>
			<select id="portmanteau_text_select">
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option>
				<option value="E">E</option>
				<option value="F">F</option>
			</select>
			 and <label><input id="filter_portmanteau_source" type="checkbox" checked></input><strong>filter out common words</strong></label>
			 <button id="add_portmanteau_button">Add</button>
		</div>
		<div id="input_container">
			<ul id="input_tab_list" class="nav nav-tabs nav-justified" style="width:500px">
				<li class="active"><a data-toggle="tab" href="#skeleton1">Skeleton 1</a></li>
				<li><a data-toggle="tab" href="#skeleton2">Skeleton 2</a></li>
				<li><a data-toggle="tab" href="#skeleton3">Skeleton 3</a></li>
				<li><a data-toggle="tab" href="#skeleton4">Skeleton 4</a></li>
				<li><a data-toggle="tab" href="#skeleton5">Skeleton 5</a></li>
			</ul>
			<div id="skeletons" class="tab-content">
				<div id="inputtab1" class="tab-pane fade in active">
				   <textarea cols=78 rows=28  placeholder="This is where you build a text skeleton!."></textarea>
				</div>
				<div id="inputtab2" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="This is where you build a text skeleton!"></textarea>
				</div>
				<div id="inputtab3" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="This is where you build a text skeleton!"></textarea>
				</div>
				<div id="inputtab4" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="This is where you build a text skeleton!"></textarea>
				</div>
				<div id="inputtab5" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="This is where you build a text skeleton!"></textarea>
				</div>
				<div id="inputtab6" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="This is where you build a text skeleton!"></textarea>
				</div>
			</div>
		</div> 
		<div id="divider">
			<div id="upload_list">
				<h4 id="upload_list_title"><strong>Upload Sources Here</strong><h4> 
				<table>
					<tr>
						<td><strong>A</strong> </td>
						<td><input onchange="handleFileUpload(this)" id="file_A" data-idx=0 type="file"></input></td>
					</tr>
					<tr>
						<td><strong>B</strong> </td>
						<td><input onchange="handleFileUpload(this)" id="file_B" data-idx=1 type="file"></input></td>
					</tr>
					<tr>
						<td><strong>C</strong> </td>
						<td><input onchange="handleFileUpload(this)" id="file_C" data-idx=2 type="file"></input></td>
					</tr>
					<tr>
						<td><strong>D</strong> </td>
						<td><input onchange="handleFileUpload(this)" id="file_D" data-idx=3 type="file"></input></td>
					</tr>
					<tr>
						<td><strong>E</strong> </td>
						<td><input onchange="handleFileUpload(this)" id="file_E" data-idx=4 type="file"></input></td>
					</tr>
					<tr>
						<td><strong>F</strong> </td>
						<td><input onchange="handleFileUpload(this)" id="file_F" data-idx=5 type="file"></input></td>
					</tr>
				</table>
			</div>
			<button id="generate_body_button"><font color="#800000">Generate</font> <font color="#5c392f">Body</font></button><br>
		</div>
	    <div id="output_container">
			<ul id="output_tab_list" class="nav nav-tabs nav-justified" style="width:500px">
				<li class="active"><a data-toggle="tab" href="#outputtab1">Output 1</a></li>
				<li><a data-toggle="tab" href="#outputtab2">Output 2</a></li>
				<li><a data-toggle="tab" href="#outputtab3">Output 3</a></li>
				<li><a data-toggle="tab" href="#outputtab4">Output 4</a></li>
				<li><a data-toggle="tab" href="#outputtab5">Output 5</a></li>
			</ul>
			<div id="outputs" class="tab-content">
				<div id="outputtab1" class="tab-pane fade in active">
				   <textarea cols=78 rows=28  placeholder="Generated text will appear in this output text field which corresponds to the currently selected output tab. Try switching tabs if you wantt to save and combine generated texts from multiple outputs."></textarea>
				</div>
				<div id="outputtab2" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="Generated text will appear in this output text field which corresponds to the currently selected output tab. Try switching tabs if you wantt to save and combine generated texts from multiple outputs."></textarea>
				</div>
				<div id="outputtab3" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="Generated text will appear in this output text field which corresponds to the currently selected output tab. Try switching tabs if you wantt to save and combine generated texts from multiple outputs."></textarea>
				</div>
				<div id="outputtab4" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="Generated text will appear in this output text field which corresponds to the currently selected output tab. Try switching tabs if you wantt to save and combine generated texts from multiple outputs."></textarea>
				</div>
				<div id="outputtab5" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="Generated text will appear in this output text field which corresponds to the currently selected output tab. Try switching tabs if you wantt to save and combine generated texts from multiple outputs."></textarea>
				</div>
				<div id="outputtab6" class="tab-pane fade in">
				   <textarea cols=78 rows=28  placeholder="Generated text will appear in this output text field which corresponds to the currently selected output tab. Try switching tabs if you wantt to save and combine generated texts from multiple outputs."></textarea>
				</div>
	    	</div>
	    </div>
	</div>
</body>
